<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	
	<title>About</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
	
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="/css/bootstrap-theme.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="/css/main.css" type="text/css" />

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> -->
				<!-- <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Progressus HTML5 template"></a>-->
				<label><h3>Automated System</h3></label>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="/">Home</a></li>
					<li class="active"><a>About</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="sidebar-left.html">Left Sidebar</a></li>
							<li><a href="sidebar-right.html">Right Sidebar</a></li>
						</ul>
					</li>
					<li><a href="/users/report">Report</a></li>
					<li><a class="btn" href="/users/login">SIGN IN</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->
	
	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">About</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">About Us</h1>
				</header>
				<h3>What Are We</h3>
				<p><img src="assets/images/mac.jpg" alt="" class="img-rounded pull-right" width="300" > We are an Automated System which allow the Traffic Wardens to do the Challans online and the public to view if they are in defaulter list or not. We also provide you the facility to report anything what you think should be reported to Police with jus a few touches. </p>
				<h3>How to Report</h3>
				<p>If you got your vehicle or your mobile phone or anything which can be traced and is the responsibilty of the Police to find  it if it's stolen, all you have to do is to come to us, give some necessary information about you and give a detailed information about the stolen object. Then leave it to us!</p>
				<h3>How to Check your Challans</h3>
				<p>If you don't remember or know if you have a challan or not to pay, all you have to do is to give your CNIC number. All the data about your challans will appear on your screen within no time.</p>
				
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				<div class="widget">
					<h4>Our Services</h4>
					<ul class="list-unstyled list-spaces">
						<li><a href="">Online Challans</a><br><span class="small text-muted">There, wardens will not have to do the challans with the old traditional ways. They can do it in an automated manner.</span></li>
						<li><a href="">Check Defaulter List</a><br><span class="small text-muted">There, user will enter his\her CNIC number and there will be the data about all the challans he\she have to pay or has paid.</span></li>
						<li><a href="">Report A Crime</a><br><span class="small text-muted">There, users can easily report a crime or a theft online with performing a limited amount of easy steps.</span></li>
					</ul>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<a href="mailto:#">f190121@cfd.nu.edu.pk</a><br>
							<a href="mailto:#">f190321@cfd.nu.edu.pk</a><br>
							<a href="mailto:#">f190308@cfd.nu.edu.pk</a><br>
							<br>
							FAST NUCES CFD Campus, Chiniot Faisalabad Road, Chiniot.	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow US</h3>
						<div class="widget-body">
							<p class="follow-me-icons clearfix">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Our Desires</h3>
						<div class="widget-body">
							<p>Our desire is to make you feel comfortable with our services and features, make you inform about the automated things, make you inform about the advance and modern technology, make you feel good to give you an ease with our automated system.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="/">Home</a> | 
								<a>About</a> |
								<a href="sidebar-right.html">Sidebar</a> |
								<a href="/users/report">Report</a> |
								<b><a href="/users/login">Sign In</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2021, Designed by Web Project Group<br> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>