<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport"    content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
		
		<title>Register</title>
	
		<link rel="shortcut icon" href="assets/images/gt_favicon.png">
		
		<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
	
		<!-- Custom styles for our template -->
		<link rel="stylesheet" href="/css/bootstrap-theme.css" media="screen" type="text/css" />
		<link rel="stylesheet" href="/css/main.css" type="text/css" />
	
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

<body>
	<!-- container -->
	<div class="container">

    <ol class="breadcrumb">
			<li><a href="/users/secret">Secret</a></li>
			<li class="active">Registration</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Registration</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Register A New Warden</h3>
							<hr>

							<form action="/users/register" method="post">
								<div class="top-margin">
									<label>Full Name</label>
									<input type="text" placeholder="Enter your name" name="fname" value="<% typeof fname != 'undefined' ? fname: '' %>" class="form-control" required>
								</div>
								<div class="top-margin">
									<label>User Name</label>
									<input type="text" placeholder="Enter your username" id="uname" name="uname" value="<% typeof uname != 'undefined' ? uname: '' %>" class="form-control" required>
								</div>
								<div class="top-margin">
									<label>Email Address <span class="text-danger">*	</span></label>
									<input type="email" placeholder="Email" value="<% typeof email != 'undefined' ? email: '' %>" id="email" name="email" class="form-control" required>
								</div>
								<div class="top-margin">
									<label>Date Of Birth<span class="text-danger">*	</span></label>
									<input type="date" id="DOB" name="DOB" value="<% typeof DOB != 'undefined' ? DOB: '' %>" class="form-control" required >
								</div>
								<div class="top-margin">
									<label>CNIC <span class="text-danger">*	</span></label>
									<input type="text" placeholder="Enter your number" minlength="15" maxlength="15" pattern="^\d{5}-\d{7}-\d{1}$" id="CNIC" name="CNIC" value="<% typeof CNIC != 'undefined' ? CNIC: '' %>" class="form-control" required>
								</div>
								<div class="top-margin">
									<label>Phone Number <span class="text-danger">*	</span></label>
									<input type="text" placeholder="Enter your number" minlength="11" maxlength="11" id="num" name="num" value="<% typeof num != 'undefined' ? num: '' %>" class="form-control" required>
								</div>
								<div class="row top-margin">
									<div class="col-sm-6">
										<label>Password <span class="text-danger">*</span></label>
										<input type="password" minlength="5" placeholder="Enter your password" id="password" name="password" class="form-control" required>
									</div>
									<div class="col-sm-6">
										<label>Confirm Password <span class="text-danger">*</span></label>
										<input type="password" placeholder="Confirm your password" id="cPassword" name="cPassword" class="form-control" required>
									</div>
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-4">                        
									</div>
									<div class="col-lg-4 text-right">
										<button class="btn btn-action" type="submit">Register</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<a href="mailto:#">f190121@cfd.nu.edu.pk</a><br>
							<a href="mailto:#">f190321@cfd.nu.edu.pk</a><br>
							<a href="mailto:#">f190308@cfd.nu.edu.pk</a><br>
							<br>
							FAST NUCES CFD Campus, Chiniot Faisalabad Road, Chiniot.	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow Us</h3>
						<div class="widget-body">
							<p class="follow-me-icons clearfix">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Our Desires</h3>
						<div class="widget-body">
							<p>Our desire is to make you feel comfortable with our services and features, make you inform about the automated things, make you inform about the advance and modern technology, make you feel good <br>
								to give you an ease with our automated system.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Home</a> | 
								<a href="/users/about">About</a> |
								<a href="/users/contact">Contact</a> |
								<b><a href="/users/login">Log In</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>