<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">>
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
    <title>Automated Challan System Application</title>
</head>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome Admin</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
